@use 'sass:map';

@use 'variables/variables' as *;

@use 'mixins/responsive/container';
@use 'mixins/responsive/extensions';
@use 'mixins/responsive/extension';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nono Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: white;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @include container.responsive-container(sm);
  @include container.responsive-container(md);
  @include container.responsive-container(lg);
  @include container.responsive-container(xl);
  @include container.responsive-container(xxl);
}

.background-gradient {
  z-index: -1;

  background: map.get($dark, background-color);
  background: map.get($dark, background-gradient);

  min-width: 100vw;
  min-height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
}

.header {
  border-radius: $border-radius;
  background-color: #1f2535;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin: 40px 0;

  padding: 15px;

  &__logo {
    svg {
      width: 170px;
      height: 40px;
    }

    .theme {
      fill: white;
    }
  }

  &__theme-toggle {
    .theme-toggle {
      border-radius: $border-radius;
      height: 45px;
      width: 45px;
      background-color: map.get($dark, theme-toggle-background-color);
      outline: none;
      border: none;
      cursor: pointer;

      &:focus {
        outline: 1px solid #f25c56;
        outline-offset: 2px;
      }
    }
  }
}

.filter {
  margin: 40px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }

  &__actions {
    display: flex;
    gap: 10px;
  }
}

.extensions {
  margin: 40px 0;

  display: grid;
  gap: 15px;

  @include extensions.responsive-extensions(sm);
  @include extensions.responsive-extensions(md);
  @include extensions.responsive-extensions(lg);
  @include extensions.responsive-extensions(xl);
  @include extensions.responsive-extensions(xxl);
}

.extension {
  padding: 15px;
  border-radius: $border-radius;
  border: 1px solid #51576d;
  background-color: #1f2535;

  @include extension.responsive-extension(sm);
  @include extension.responsive-extension(md);
  @include extension.responsive-extension(lg);
  @include extension.responsive-extension(xl);
  @include extension.responsive-extension(xxl);

  &__header {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
  }

  &__image {
    width: 60px;
    height: 60px;

    svg {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .extension__button--toggle {
      border-radius: $button-border-radius;

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: #f25951;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #f25951;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }
}

.extension__button,
.filter__button {
  font-family: 'Nono Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 10px 15px;
  border-radius: $button-border-radius;
  outline: none;
  border: 1px solid #51576d;
  background-color: #1f2535;
  cursor: pointer;

  &.active {
    color: #390821;
    background-color: #f25c56;
    border: 1px solid #f25c56;

    &:hover {
      color: #390821;
      background-color: #f25c56;
      border: 1px solid #f25c56;
    }
  }

  &:hover {
    background-color: #525868;
  }

  &:focus {
    outline: 1px solid #f25c56;
    outline-offset: 2px;
  }
}

.svg-loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
