@use './variables/variables' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $light-body-background-color;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-body-background-color;
  }
}