$grid-columns: 12;
$gutter: 1rem;

$light-body-background-color: #eaf4fd;

$border-radius: 15px;

$container-width-extra-small: auto; // < 576px
$container-width-small: 540px; // >= 576px
$container-width-medium: 720px; // >= 768px
$container-width-large: 960px; // >= 992px
$container-width-extra-large: 1140px; // >= 1200

$dark-theme-border-color: #505568;
