$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-weight: 400;
$font-style: normal;

$badge-font-size: 14px;
$badge-margin: 15px 0;
$badge-height: 50px;
$badge-width: 150px;

$badge-color: #fff;
$badge-font-weight: 500;

$badge-new-background-color: #1cbc9c;
$badge-processing-background-color: #2dcb6f;
$badge-shipped-background-color: #3399db;
$badge-delivered-background-color: #9b58b5;
$badge-cancelled-background-color: #f49c12;
$badge-returned-background-color: #e77e22;
$badge-completed-background-color: #e94d3c;
$badge-unknown-background-color: #96a6a5;
