$light-body-background-color: #eaf4fd;

$border-radius: 15px;
$button-border-radius: 18px;

$dark-theme-border-color: #505568;

$dark-theme-background-default-color: #04091c;
$dark-theme-background-gradient-bottom-color: rgba(9, 22, 64, 1);
$dark-theme-background-gradient-top-color: rgba(4, 9, 28, 1);

$dark: (
  background-color: #04091c,
  background-gradient: linear-gradient(
      0deg,
      rgba(9, 22, 64, 1) 0%,
      rgba(4, 9, 28, 1) 100%
    ),
  theme-toggle-background-color: #2f354b
);

$light: (
  background-default-color: #04091c,
  background-gradient-bottom-color: rgba(9, 22, 64, 1),
  background-gradient-top-color: rgba(4, 9, 28, 1)
);

$container: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$extensions: (
  sm: (
    grid-template-columns: repeat(1, 1fr)
  ),
  md: (
    grid-template-columns: repeat(2, 1fr)
  ),
  lg: (
    grid-template-columns: repeat(2, 1fr)
  ),
  xl: (
    grid-template-columns: repeat(3, 1fr)
  ),
  xxl: (
    grid-template-columns: repeat(3, 1fr)
  )
);

$extension: (
  sm: (
    height: 100px
  ),
  md: (
    height: 120px
  ),
  lg: (
    height: 100px
  ),
  xl: (
    height: 100px
  ),
  xxl: (
    height: 100px
  )
);
