$gap: 15px;
$padding: 15px;

$font-size: 14px;
$font-family: 'Nono Sans', sans-serif;
$font-weight: 400;
$font-style: normal;

$section-title-font-size: 24px;

$section-margin: 40px 0;

$border-radius: 15px;

$button-border-radius: 18px;
$button-padding: 10px 15px;
$button-font-family: 'Nono Sans', sans-serif;
$button-font-size: 14px;
$button-weight: 500;

$container: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$extensions: (
  sm: (
    grid-template-columns: repeat(1, 1fr)
  ),
  md: (
    grid-template-columns: repeat(2, 1fr)
  ),
  lg: (
    grid-template-columns: repeat(2, 1fr)
  ),
  xl: (
    grid-template-columns: repeat(3, 1fr)
  ),
  xxl: (
    grid-template-columns: repeat(3, 1fr)
  )
);

$extension: (
  sm: (
    height: 100px
  ),
  md: (
    height: 120px
  ),
  lg: (
    height: 100px
  ),
  xl: (
    height: 100px
  ),
  xxl: (
    height: 100px
  )
);

$dark: (
  background-color: #04091c,
  background-gradient: linear-gradient(
      0deg,
      rgba(9, 22, 64, 1) 0%,
      rgba(4, 9, 28, 1) 100%
    ),
  theme-toggle-background-color: #2f354b
);

$light: (
  background-color: #04091c,
  background-gradient: linear-gradient(
      0deg,
      rgba(9, 22, 64, 1) 0%,
      rgba(4, 9, 28, 1) 100%
    )
);
